.hero {
  height: 100%;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-text-primary);
}

.hero p {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

.hero img {
    max-width: 80%;
    margin-top: 30px;
  }
