.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    position: relative;
  }
  
  .timeline-container::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    height: 100%;
    width: 4px;
    background: var(--color-secondary-700);
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    background: var(--color-secondary-500);
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 1rem;
    position: relative;
    margin-left: 30px;
  }
  
  .timeline-item::before {
    content: "•";
    font-size: 2rem;
    color: var(--color-secondary-700);
    position: absolute;
    left: -25px;
  }
  