.navbar {
  background-color: var(--bg-primary);
}

.navbar_brand,
.navbar_link {
  color: var(--text-primary);
  font-weight: 500;
}



.navbar_brand:hover,
.navbar_link:hover {
  color: var(--text-secondary);
}