/* :root {
  --color-primary-50: #f6f7f6;
  --color-primary-100: #e1e6e1;
  --color-primary-200: #c2cdc2;
  --color-primary-300: #9cac9d;
  --color-primary-400: #768b77;
  --color-primary-500: #5c705e;
  --color-primary-600: #485949;
  --color-primary-700: #3c493d;
  --color-primary-800: #313a32;
  --color-primary-900: #2d342e;
  --color-primary-950: #171c18;


  --color-primary: #1f2937;
  --color-accent: #f97316;
  --color-text-light: #f3f4f6;
  --color-text-dark: #111827;
  --color-bg: #111827;
  --color-card: #374151;

  --bg-default: var(--color-primary-300);
  --bg-primary: var(--color-primary-500);
  --bg-secondary: var(--color-primary-600);
  --bg-muted: var(--color-primary-700);

  --border-primary: var(--color-primary-400);
  --border-muted: var(--color-primary-300);
  --border-strong: var(--color-primary-600);

 
  --text-primary: var(--color-primary-50); 
  --text-secondary: var(--color-primary-300); 
  --text-muted: var(--color-primary-400);
  --text-inverted: var(--color-primary-900); 


  --button-bg-default: var(--color-primary-500);
  --button-bg-hover: var(--color-primary-600);
  --button-bg-active: var(--color-primary-700);
} */




/* 
 :root {
  --color-primary-50: #f5f7fa;
  --color-primary-100: #e4e7eb;
  --color-primary-200: #cbd2d9;
  --color-primary-300: #9aa5b1;
  --color-primary-400: #7b8794;
  --color-primary-500: #616e7c;
  --color-primary-600: #52606d;
  --color-primary-700: #3e4c59;
  --color-primary-800: #323f4b;
  --color-primary-900: #1f2933;
  --color-primary-950: #12191f;

  --color-primary: #1f2933;
  --color-bg: #0f172a;

  --color-accent: #6366f1; 
  --color-accent-hover: #4f46e5; 

  --color-text-light: #f8fafc;
  --color-text-dark: #111827;
  --color-card: #334155;
} */
:root {
  --color-primary-50: #f5f7fa;
  --color-primary-100: #e4e7eb;
  --color-primary-200: #cbd2d9;
  --color-primary-300: #9aa5b1;
  --color-primary-400: #7b8794;
  --color-primary-500: #616e7c;
  --color-primary-600: #52606d;
  --color-primary-700: #3e4c59;
  --color-primary-800: #323f4b;
  --color-primary-900: #1f2933;
  --color-primary-950: #12191f;

  --color-primary: #1f2933;
  --color-bg: #0f172a;
 
  --color-accent: #f97316;         /* naranja principal */
  --color-accent-hover: #d9480f;   /* tono más oscuro para hover */

  --color-text-light: #f8fafc;
  --color-text-dark: #111827;
  --color-card2: #334155;
  --color-card3:  #4f5257;
  --color-card: #3f4e3f;  
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    var(--color-primary-50) 0%,
    var(--color-primary-200) 30%,
    var(--color-primary-400) 60%,
    var(--color-primary-500) 100%
  );
  padding: 0;
}


footer {
  margin-top: auto;
}


.animate__animated {
  opacity: 0;
  animation: fadeIn 1s forwards;
}


.markdown img {
  max-width: 100%;
  margin: 5px;
  padding: 10px 10px;
  height: auto; 
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
