.project_detail {
  background-color: var(--border-primary); 
  color: var(--text-primary);
  padding: 20px;
  border-radius: 15px; 
  border: none;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  transition: background-color 0.3s ease-in-out;
}

.project_detail:hover {
  background-color: var(--border-strong); 
}

.project_detail button {
  background-color: var(--button-bg-active);
  border: none;
}

.project_detail button:hover {
  background-color: var(--button-bg-hover);
}




.custom-modal .modal-dialog {
  max-width: 90vw;
  width: auto;
}

.custom-modal .modal-content {
  margin: auto;
  background-color: transparent;
  width: auto;
  /* width: 100%; */
  border: none;
  box-shadow: none; 
}

.custom-modal .modal-content img{
 width: 100%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  background-color: rgba(0, 0, 0, 0.302);
  border-radius: 50%;
  /* padding: 10px;
  margin: 10px; */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

